.sidebar {
    height: 100vh;
    background-color: #fff;
    width: 100px;
    border-radius: 0 10px 0 0;
    transition: 20ms ease-in-out;
    overflow: hidden;
    border-right: 1.5px solid #F0F0F0;
    border-bottom: 1.5px solid #F0F0F0;
}

.sidebar h6 {
    color: #F0F0F0;
    font-size: 18px;
    transition: 20ms ease-in-out;
    padding-right: 5px;
}

.bar-icon {
    color: white;
    background-color: black;
    border-radius: 0 10px 0 0;
    height: 35px;
    padding: 5px;
    justify-content: right;
    display: flex;

}

.bar-icon > svg {
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.sidebar-heading {
    display: flex;
    flex-direction: column;
    margin: 40px;
    transition: 20ms ease-in-out;
}

.sidebar-heading h4 {
    text-align: left;
}

.sidebar-heading li {

    margin-top: 20px;
    margin-left: 10px;
}