.task-heading-2 {
    max-width: 448px;
    height: fit-content;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #F0F0F0;
    border-radius: 20px;
}

.thread-A {
    display: flex;
    align-items: center;
    background-color: #f4f0e7;
    margin-top: 35px;
    padding: 10px;
    border-top: 2px solid #f0e9db;
    border-bottom: 1px solid #e5d9be;
}

.thread-A p {
    text-transform: capitalize;
    margin-left: 40px;
    font-weight: 700;
    font-size: 17px;
}

.thread-A svg {
    margin-left: 20px;
}

.input-container {
    display: flex;
    padding: 30px 20px;
    gap: 30px;

}

.input-container label {
    margin: 10px;

}

.input-container div {
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
}

.input-container input {
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    padding: 10px 10px 50px 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100%;

}

.select-options {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.select-options svg {
    margin-left: 5px;
    color: #595757;

}

.box-wrapper {
    display: flex;
    padding-left: 20px;
}

.select-options button svg {
    color: white;
}

.summary {
    background-color: #F0F0F0;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.summary p {
    padding: 10px;
    display: flex;

}

.summary input {
    width: 100%;
    margin-top: 5px;
    outline: none;
    border: none;
    padding: 10px 10px 50px 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 20px;
}

.thread-credit-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.thread-btn-wrapper {
    display: flex;
    justify-content: flex-end;

}

.border {
    border-top: 2px solid #F0F0F0;
    margin-top: 10px;
}